@model IEnumerable<Database_Management_System.Models.Course>

@{
    ViewData["Title"] = "Course Page";
}

<h1>Register</h1>

<p>
    <a asp-action="Create">Register Here</a>
</p>
<table class="table sortable">
    <thead>
        <tr>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.CourseName)</a>
            </th>
            <th>
                <a href ="#">@Html.DisplayNameFor(model => model.CourseNumber)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coompleted)
            </th>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.Student)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
